<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZDEC9kjAWbuSg5tR_nSD00gQ8BXNFH3M</string>
	<key>GCM_SENDER_ID</key>
	<string>516366544833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omgandhi.Chat</string>
	<key>PROJECT_ID</key>
	<string>og-chat-b20fa</string>
	<key>STORAGE_BUCKET</key>
	<string>og-chat-b20fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516366544833:ios:be98d73a6df0406f734940</string>
	<key>DATABASE_URL</key>
	<string>https://og-chat-b20fa-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>